RNN*
forzip*
docs/Benchmarks.ipynb
docs/Figures
docs/MeetingProtocols.ipynb
docs/RNN ASIP Report 1 (Numbers and Scripts) .ipynb
docs/start_jupyter.tcsh*
sourcecode/tzscale/*
sourcecode/tzscale
sourcecode/funcApprox/taylor_expansion.m

commit_open_source.sh
