MODEL*
build
data.h
b
basicKernel.c_backup
basicKernel_backup2.c
basicKernel_backup3.c
basickernels_sourcefiles.tar.gz
benchmarks.h_backup
benchmarks_backup.h
build_bk/*
html
instr_with
instr_with_grep
instr_with_vliw
instr_without
instr_without_grep
instr_without_vliw
latex
less
log
log2
notworking
reports/*
scripts/__pycache__/*
temp1
temp2
temp_trace
working
testFile.c
*.swp
*_b
*_old
config_profiling_.h
*delete*
trace
